#inputText{
    text-align: right;
}

#dungeonForm{
    display: flex;
    justify-self: center;
    flex-direction: row;
}

#title{
    text-align:center;
}

.sideBar{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.form{
    margin-top: 10px;
}

.searchField{
    border-radius: 5px;
    color: white;
    background-color: rgb(113, 113, 113);
    opacity: 100%;
    border: none;
    height: 35px;
    width: 350px;

}

::placeholder {
    color: rgb(80, 80, 80);
}

.searchField:focus{
    outline-width: 0;
}



.searchButton{
    height: 40px;
    margin-left: 2px;
    border-radius: 5px;
    border: 2px solid rgb(67, 63, 63);
    background-color: rgb(187, 34, 17);
    color: rgb(242, 242, 242);
}