#container{
    display: flex;
    flex-direction: row;
}

#infoPanel{
    
    margin-left:1%;
}

button {
    display: flex;
    justify-content: center;
 
    height: 20px;
    background: none!important;
    border: none;
    padding: 0!important;
    width: 200px;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    
}

#selectBossIntro{
    display: flex;
    justify-content: center;
}

.enterDungeonText{
    display: flex;
    justify-content: center;
}

#enterValidInstance{
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 100px;

}
