.invalidDungeonDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invalidDungeonTitle{
    color: rgb(242, 242, 242);
    margin-top: 200px;
}

.registerAndSignIn{
    margin-top:5px;
}

.enterValidInstance{
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 100px;
}

.container{
    display: flex;
    flex-direction: column;
    background-color:rgb(46, 45, 45); 
}

.menuRoot{
    height: 75px;
    background-color:rgb(46, 45, 45); 
    box-shadow: 0px 0px;
    border-bottom: 1px solid grey;
}
.menuBarSearch{
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: space-between;
    background-color: rgb(46, 45, 45);
}

.appTitle{
    display: flex;
    flex: 1;
    color: rgb(242, 242, 242);
    background:none;
    border:none; 
    outline: none;
    cursor: pointer;
}

.dungeonFormDiv{
    display: flex;
    justify-content: center;
    flex: 2;
}

.loginRegister{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.favoriteLogoutButtons{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.registerButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(242, 242, 242);
    text-decoration: none;
    width: 70px;
    height:  25px;
    border: 2px solid rgb(67, 63, 63);
    background-color: rgb(187, 34, 17);
    color: rgb(242, 242, 242);
}

.sidebarAndBossInfo{
    display: flex;
    flex-direction: row;
}

.bossIntroAndInfo{
    margin-left: 255px;
    margin-top: 60px;
    width: 100%;
}

.selectBossIntro{
    
    color: rgb(242, 242, 242);
    margin-left: 20px;
    margin-top: 40px;
}


html,body{
    margin:0;
}

