.homePageDiv{
    height: 100vh;
    background-color:rgb(46, 45, 45); 
}

.formPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.homePageTitle{
    color: rgb(242, 242, 242);
    margin-top: 200px;
}

.registerButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(242, 242, 242);
    text-decoration: none;
    width: 70px;
    height:  25px;
    border: 2px solid rgb(67, 63, 63);
    background-color: rgb(187, 34, 17);
    color: rgb(242, 242, 242);
}

.registerButton:visited { text-decoration: none; color:rgb(242, 242, 242); }

.registerAndSignIn{
    display: flex;
    justify-content: center;
}

.divider{
    width: 5px;
}

