.formDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(46, 45, 45); 
    height: 100vh;
}

.formTitle{
    display: flex;
    justify-content: center;
    color: rgb(242, 242, 242);
    margin-top: 0;
}

.cardDiv{
    display: flex;
    justify-content: center;
}

.registerForm{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.signUpHeader{
    display: flex;
    justify-content: center;
}

.passwordLabel{
    margin-top: 30px;
}

.usernameLabel{
    margin-top: 30px;
}

.backSignUpBtns{
    display: flex;
    flex-direction: row;
}
.backBtn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 50%;
}
.signUpBtn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 50%;
    margin-left:10px;
}





