.sidebarDiv{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    margin-right: 10px;
    width: 250px;
    position: fixed;
    height: 90%;
}

.starAndName{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 15px;
}
.star{
    color:gold;
    height: 30px;
    margin-right: 3px;
}
.dungeonNameSidebar{
    display: flex;
    justify-self: center;
    justify-content: center;
    color: rgb(242, 242, 242);
    font-size: 20px;
    margin-top: 15px;
}

.dungeonNameNoStar{
    display: flex;
    margin-left: 47px;
    margin-top: 20px;
    color: rgb(242, 242, 242);
    font-size: 20px;
}




